

<h5 class="new-form">
<%= link_to '記事を作成する', new_blog_path %>
</h5>

<% @blogs.each do |blog| %>
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><%= blog.title %></h3>
    </div>
    <div class="panel-body">
      <%= blog.content %><br /><br \>
      <p>
        <em>投稿者：
         <% if blog.user.image? %>
         <%= image_tag blog.user.image.thumb.url, class: "avatar" %>
         <% else %>
         <%= profile_img blog.user %>
         <% end %>
        <%= link_to "#{blog.user.name}", user_path(blog.user) %></em></p>
      <% if current_user?(blog.user) %>
        <%= link_to "編集", edit_blog_path(blog) %>
        <%= link_to "削除", blog_path(blog), data: { confirm: "本当に削除しますか？" }, method: :delete %>
      <% end %>
        <br \>
        <em>作成日：<%= blog.created_at %></em>
    </div>
  </div>
<% end %>
