<div class="container">
<div class="blog-form">
<h3>投稿内容</h3>

<br \>
<p>
  <strong>タイトル:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @blog.content %>
</p>

<p>
<div id="comments_area">
  <%= render partial: 'comments/index', locals: { comments: @comments } %>
</div>
</p>

<p>
  <%= render partial: 'comments/form', locals: { comment: @comment } %>
</p>

<% if @blog.user == current_user %>
<%= link_to 'ブログを編集する', edit_blog_path(@blog) %>
<% end %>
<br>
<%= link_to 'ブログ一覧へ', blogs_path %>

</div>
</div>