
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_a" data-toggle="tab" href="#tab_a" role="tab">未完了のタスク</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_b" data-toggle="tab" href="#tab_b" role="tab">完了済のタスク</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab_a" role="tabpanel">
      <br>
      	<div class="container">
		<div class="row">
		<div class="col-md-8">
    	<div class="qa-message-list" id="wallmessages">
        	<% if @tasks.any? %>
        	<% @tasks.each do |task| %>
    				<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="message-icon pull-left"><i class="glyphicon glyphicon-check"></i></div>
								<div class="user-detail">
									<h5 class="handle">
									  タスク名:<%= task.title %>
									</h5>
									<p><%= task.content %></p>
								  	<div class="task-user">
                    		<p>作成者:<%= task.user.name %></p>
								  	</div>
									<div class="post-type">
										<p>完了期日:<%= task.deadline %></p>
										<p><%= if task.done? then "完了" else "未完了" end %></p>
										<p>プロジェクト名:<%= task.project.name %></p>
										<p>
											<% if task.user == current_user.id && task.status != 1 %>
											<%= link_to "タスクの依頼", new_user_submit_request_path(current_user), class: "btn btn-primary" %>
                      <%= link_to '削除', user_task_path(task.user, task), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn btn-danger btn-sm" %>
                      <% elsif %>
                      <p>依頼中</p>
                      <% end %>
                      <% if task.charge_id == current_user.id && task.status == 2 %>
                      <br>
                      <%= render partial: "done_form", locals: { task: task } %>
                      <% end %>
                    </p>
									</div>
								</div>
							</div>
						</div>
					</div>
			<% end %>
			<% end %>
		</div>
		</div>
		</div>
		</div>
      </div>
    <div class="tab-pane" id="tab_b" role="tabpanel">
      <br>
      	<div class="container">
		<div class="row">
		<div class="col-md-8">
    	<div class="qa-message-list" id="wallmessages">
        	<% if @finish_tasks.any? %>
        	<% @finish_tasks.each do |task| %>
    				<div class="message-item" id="m16">
						<div class="message-inner">
							<div class="message-head clearfix">
								<div class="message-icon pull-left"><i class="glyphicon glyphicon-check"></i></div>
								<div class="user-detail">
									<h5 class="handle">
									  タスク名:<%= task.title %>
									</h5>
									<p><%= task.content %></p>
								  	<div class="task-user">
                    					<p>作成者:<%= task.user.name %></p>
								  	</div>
									<div class="post-type">
										<p>プロジェクト名:<%= task.project.name %></p>
										<% if task.charge.id == current_user.id %>
										<br>
										<p>
											<%= render partial: "undone_form", locals: { task: task } %>
                    </p>
        								<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
			<% end %>
			<% end %>
		</div>
		</div>
		</div>
		</div>
    </div>
   </div>