<div class="container">
<div class="row">
<div class="col-md-8">
<div class="qa-message-list" id="wallmessages">
    <div class="message-item" id="m16">
		<div class="message-inner">
			<div class="message-head clearfix">
				<div class="message-icon pull-left"><i class="glyphicon glyphicon-check"></i></div>
					<div class="user-detail">
						<h5 class="handle">
						   タスク名:<%= @task.title %>
						</h5>
						<p><%= @task.content %></p>
						<div class="task-user">
                    		<p>作成者:<%= @task.user.name %></p>
						</div>
						<div class="post-type">
							<p>完了期日:<%= @task.deadline %></p>
							<% if @task.user == current_user && @task.status != 2 %>
							<p>
							    <%= link_to '編集', edit_user_task_path(@task.user, @task), class: "btn btn-success btn-sm" %>
                                 <%= link_to '削除', user_task_path(@task.user, @task), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' }, class: "btn btn-danger btn-sm" %>
                            </p>
                            <% end %>
                            <br>
                            <%= link_to '戻る', inbox_user_submit_requests_path(current_user) %>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>



