<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @task.content %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @task.charge.name %>
</p>

<p>
  <strong>Done:</strong>
  <%= if @task.done? then "完了" else "未完了" end %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to '編集', edit_user_task_path(@task.user, @task) %> |
<%= link_to 'タスク一覧へ', user_tasks_path(@task.user) %>
