<div id="notifications_<%= current_user.id %>" class="notifications-index">
    <li>
        <% if notifications.present? %>
        <% notifications.each do |notification| %>
        <% unless notification.read %>
        <% if notification.comment.present? %>
        <small class="dropdown"><%= link_to "ブログ「#{notification.comment.blog.title}」に#{sender_user(notification)}さんがコメントしました。", blog_path(notification.comment.blog) %></small>
        <% elsif notification.project.present? %>
        <small class="dropdown"><%= link_to "プロジェクト「#{notification.project.name}」に#{sender_user(notification)}さんがあなたを招待しました。", invited_project_user_path(notification.recipient_id) %></small>
        <% elsif notification.message.present? %>
        <small class="dropdown"><%= link_to "#{notification.message.user.name}さんからメッセージが届きました。", conversation_messages_path(notification.message.conversation) %></small>
        <% end %>
        <p class="palette-paragraph text-right">
            <small class="dropdown">
                <i class="fa fa-clock-o"></i>&ensp;<%= posted_time(notification.created_at) %>
            </small>
        </p>
        <% end %>
        <% end %>
        <% end %>
    </li>
</div>