<provide(:title, 'All users') %>
<h2>ユーザー一覧</h2>
<ul class="users">
    <%= render @users %>
</ul>

<!--<% @users.each do |user| %>-->

<!--<div class="row">-->
<!--    <div class="col-sm-6 col-md-4">-->
<!--        <div class="thumbnail">-->
<!--            <div class="caption">-->
<!--                <h3>-->
<!--                    <% if user.image? %>-->
<!--                    <%= image_tag user.image.thumb.url, class: "avatar" %>-->
<!--                    <% else %>-->
<!--                    <%= profile_img user %>-->
<!--                    <% end %>-->
<!--                    <%= user.name %>-->
<!--                </h3>-->
<!--                <p><%= link_to "プロフィール", user_path(user) %></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<% end %>-->