<%= form_for([@user, @submit_request]) do |f| %>
<p>
    <%= f.label :title, "依頼するタスク" %>
    <br>
    <%= f.collection_select :task_id, @tasks, :id, :title %>
</p>
<p>
    <%= f.label :name, "担当者" %>
    <br>
    <%= f.collection_select :charge_id, @users, :id, :name %>
</p>
<p><%= f.text_area :message, placeholder: "依頼メッセージ", size: "50*100" %></p>
<p><%= f.hidden_field :user_id %></p>
<p><%= f.hidden_field :status %></p>
<p><%= f.submit "依頼する", class: "btn btn-large btn-primary" %></p>
<% end %>

<%= link_to '依頼一覧へ', user_submit_requests_path(current_user) %>